/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'satoshi';
  src: url('assets/fonts/satoshi/Satoshi-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "satoshi" !important;
}

:root{
  --primary-color: #000 !important;
  --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
  --rating-color:#ffc908;
}
.button-submit{
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 12px;
  cursor: pointer;
}
.cursor-pointer{
  cursor: pointer !important;
}
.cursor-not-allowed{
  cursor: not-allowed !important;
}
input{
  border-radius: 0 !important;
}

.font-sm
{
    font-size: 14px;
}
.rating-color{
  color: var(--rating-color);
}
