/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'satoshi';
  src: url('assets/fonts/satoshi/Satoshi-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "satoshi" !important;
}

:root{
  --primary-color: #000 !important;
}
.button-submit{
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 12px;
  cursor: pointer;
}
input{
  border-radius: 0 !important;
}
