<div class="row">
  <div *ngIf="isLoading" class="col-md-12 my-5 d-flex justify-content-center align-items-center">
    <div class="spinner-grow" role="status">
    </div>
    <div class="spinner-grow" role="status">
    </div>
    <div class="spinner-grow" role="status">
    </div>
  </div>




  <ng-container *ngIf="!isLoading">
    <div class="my-4">
      <app-main-slider></app-main-slider>
    </div>
    <div class="mb-4">
      <app-categories-banner></app-categories-banner>
    </div>
    <div *ngFor="let product of products" class="col-md-2">
      <app-card [product]="product" (addToCart)="AddToCart($event)"></app-card>
    </div>
  </ng-container>
</div>
